<div>
    <form [formGroup]="configForm">
        Depth: <input type="number" min="1" formControlName="depth">
        Frequency: <input type="number" min="1" formControlName="frequency">ms
    </form>
</div>

<table>
    <tr>
        <th>Bid</th>
        <th>Price</th>
        <th>Ask</th>
    </tr>
    <tr *ngFor="let ask of orderBook.asks | keyvalue:sortFn | slice: getAskStart(orderBook.asks.size)" class="ask">
        <td class="empty"></td>
        <td>{{ask.key}}</td>
        <td>{{ask.value}}</td>
    </tr>
    <tr *ngFor="let bid of orderBook.bids | keyvalue:sortFn | slice:0:depth" class="bid">
        <td>{{bid.value}}</td>
        <td>{{bid.key}}</td>
        <td class="empty"></td>
    </tr>
</table>
